.course_detail {
  margin: unset;
  padding: 20px;
  min-height: 100vh;
  position: relative;
  background-image: url("../../img/19366.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
.course_detail::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.course_detail .container {
  width: 90%;
  margin: auto;
  display: flex;
  position: relative;
  z-index: 1;
  gap: 10px;
}
.course_detail .container .main_container {
  width: 70%;
}
.course_detail .container .main_container h1 {
  border-top: 1px solid #f8f8f8;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 65px;
  line-height: 75px;
}
.course_detail .container .main_container_title {
  border-bottom: 1px solid #f8f8f8;
  padding-bottom: 10px;
}
.course_detail .container .main_container_title img {
  width: 36px;
  height: 36px;
  border: 2px solid #eee;
  border-radius: 50%;
}
.course_detail .container .main_container_title_author {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.course_detail .container .main_container_title_author .author {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}
.course_detail .container .main_container_title_author .date {
  margin: 0 10px;
  font-size: 14px;
}
.course_detail .container .main_container_title_info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.course_detail .container .main_container_title_info i {
  color: #f6ba35;
  font-size: 20px;
}
.course_detail .container .main_container_title_info .rating {
  margin: 0 10px;
}
.course_detail .container .main_container_title_info .rating span {
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}
.course_detail .container .main_container_title_info .viewed {
  margin: 0 10px;
  font-size: 14px;
}
.course_detail .container .main_container_info {
  padding: 40px 0;
  border-bottom: 1px solid #f8f8f8;
}
.course_detail .container .main_container_info p {
  line-height: 30px;
}
.course_detail .container .main_container_related h1 {
  font-size: 30px;
  line-height: 30px;
  border: unset;
}
.course_detail .container .main_container_related ul {
  margin: 30px 0;
}
.course_detail .container .main_container_related ul li {
  list-style-type: none;
}
.course_detail .container .main_container_related ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.course_detail .container .main_container_related ul li a {
  color: #333;
  font-size: 15px;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}
.course_detail .container .main_container_related ul li a i {
  margin-right: 4px;
}
.course_detail .container .sidebar {
  width: 30%;
  border: 1px solid #eee;
  border-radius: 5px;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}
.course_detail .container .sidebar_img {
  text-align: center;
  background-image: url("../../img/course_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #f8f8f8;
  height: 200px;
}
.course_detail .container .sidebar_img::after {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 0;
}
.course_detail .container .sidebar_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}
.course_detail .container .sidebar_info {
  padding: 30px;
}
.course_detail .container .sidebar_info p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
}
.course_detail .container .sidebar_info p:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.course_detail .container .sidebar_info p i {
  color: #333;
  margin-right: 4px;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #333;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 23px;
}
.course_detail .container .sidebar_info p span {
  line-height: 25px;
  width: 40%;
}
.course_detail .container .sidebar_info p span:last-of-type {
  font-weight: 600;
  width: 60%;
  text-align: right;
}
.course_detail .container .sidebar_footer {
  padding: 0 30px;
}
.course_detail .container .sidebar_footer h1 {
  margin: 20px 0;
}
.course_detail .container .sidebar_footer p {
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
}
.course_detail .container .sidebar_footer p i {
  font-size: 20px;
  color: green;
  margin-right: 4px;
}
.course_detail .container .sidebar_footer ul li {
  list-style-type: none;
  margin-top: 10px;
}
.course_detail .container .sidebar_footer ul li a {
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
.course_detail .container .sidebar_footer ul li a i {
  color: #333;
  margin-right: 4px;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #333;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 23px;
}/*# sourceMappingURL=course.css.map */