.feature {
  background-image: url("../../img/carousel1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: calc(100vh - 125px);
  width: 100%;
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.5);
  }
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(#28aae2, 0) 25%,
      rgba(#28aae2, 0.8) 100%
    );
    // background: linear-gradient(
    //   90deg,
    //   rgba(39, 170, 225, 0.2) 0%,
    //   rgba(39, 170, 225, 1) 50%,
    //   rgba(39, 170, 225, 0.2) 100%
    // );
  }
  .feature_container {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: right;
    h1 {
      color: #28aae2;
      font-size: 30px;
      font-weight: bold;
      text-transform: capitalize;
      padding: 10px 0;
      width: 60%;
      margin-left: 40%;
      text-align: left;
    }
    p {
      color: white;
      padding: 10px 0;
      width: 60%;
      margin-left: 40%;
      text-align: left;
    }
    button {
      background-color: #28aae2;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }
    .introduce {
      position: absolute;
      width: 100%;
      height: 150px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      display: flex;
      .feature_item {
        height: 100%;
        padding: 0 10px;
        width: calc(100% / 3);
        &_inner {
          display: flex;
          height: 100%;
          background-color: rgba(white, 0.8);
          border-radius: 5px;
          color: #666;
          padding: 10px 5px;
          &_left {
            img {
              width: 100px;
              height: 100px;
            }
          }
          &_right {
            h3 {
              text-align: left;
            }
            p {
              width: 100%;
              color: black;
              font-size: 13px;
              text-align: left;
              margin: unset;
            }
          }
        }
      }
    }
  }
}

.story {
  margin-top: 50px;
  &_container {
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    &_left {
      position: relative;
      &::before {
        display: block;
        position: absolute;
        content: "3 phút để xem";
        left: -20%;
        bottom: 20%;
        background-color: #8bc639;
        color: white;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
        border: none;
      }
      img {
        width: 300px;
        height: 300px;
      }
    }
    &_right {
      padding: 0 30px;
      h1 {
        font-size: 30px;
        color: #8bc639;
        margin: 10px 0;
      }
      &_title {
        margin: 10px 0;
        span {
          color: #28aae2;
          font-weight: 600;
        }
      }
      button {
        background-color: #28aae2;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        margin: 10px 0;
      }
    }
  }
}

.hot_courses {
  margin-top: 50px;
  &_container {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    h1 {
      color: #28aae2;
      font-size: 30px;
      text-align: center;
    }
    &_menu {
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        margin: 20px;
        width: 472px;
        text-align: center;
        li {
          list-style-type: none;
          display: inline-block;
          padding: 5px;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &:hover {
            background-color: #8bc639;
            border-radius: 5px;
            a {
              color: white;
            }
          }
          a {
            color: #666;
            font-size: 15px;
            font-weight: 600;
            width: 100%;
            height: 100%;
          }
        }
      }
      button {
        font-size: 0;
        background-color: unset;
        border: unset;
        width: 0;
        height: 0;
        position: relative;
        cursor: pointer;
        &.prev {
          &::before {
            position: absolute;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent #28aae2 transparent transparent;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
          }
        }
        &.next {
          &::before {
            position: absolute;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent #28aae2;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
          }
        }
      }
    }
    &_main {
      display: flex;
      &_left {
        width: 40%;
        padding: 10px 15px;
        &_img {
          position: relative;
          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 4px;
          }
          &::before {
            position: absolute;
            display: block;
            content: "5 stars, (1488 rated)";
            background-color: #8bc639;
            padding: 5px 10px;
            color: white;
            text-align: center;
            bottom: 15%;
            left: -20%;
            width: 100px;
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
          }
        }
        &_info {
          h3 {
            a {
              color: #8bc639;
              font-size: 25px;
            }
            margin: 10px 0;
          }
          &_author {
            margin: 10px 0;
            span {
              color: #28aae2;
              font-weight: bold;
            }
          }
        }
      }
      &_right {
        width: 60%;
        padding: 10px 15px;
        &_item {
          display: flex;
          margin-bottom: 10px;
          &_left {
            width: 30%;
            img {
              width: 100%;
              height: 120px;
              object-fit: cover;
              border-radius: 4px;
            }
          }
          &_right {
            width: 70%;
            padding-left: 10px;
            font-size: 13px;
            h3 {
              a {
                font-size: 20px;
                color: #8bc639;
              }
            }
            &_author {
              margin: 5px 0;
              span {
                color: #8bc639;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}

.partner {
  margin: 50px 0;
  background-color: rgba(#28aae2, 0.05);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
  &_container {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    &_item {
      width: calc(100% / 3);
      text-align: center;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        padding: 10px;
        background: linear-gradient(#8bc639, #28aae2);
      }
      h1 {
        font-size: 25px;
        color: #28aae2;
        margin: 10px;
      }
    }
  }
}
