.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  border: 1px solid #eee;
  background-color: #f8f8f8;
  border-radius: 10px;
  &_header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 30px;
      font-weight: 600;
      text-align: left;
    }
    a {
      text-align: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      i {
        margin: unset;
      }
    }
  }

  &_container {
    padding: 30px 40px;
    .item {
      margin-top: 20px;
      &_title {
        i {
          font-size: 16px;
          color: #333;
          margin-right: 10px;
        }
      }
      &_input {
        margin-top: 5px;
        input {
          text-align: left;
        }
      }
      &_btn {
        margin-top: 20px;
        text-align: center;
        button {
          width: 100%;
        }
      }
    }
  }
}
