.profile {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  &_container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: auto;
    height: 100%;
    @media (max-width: 600px) {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: unset;
      display: block;
    }
    @media (min-width: 600px) and (max-width: 820px) {
      //ipad mini + ipad air
      width: 98%;
      width: 100%;
      height: 100%;
      border: none;
      border-radius: unset;
    }
    @media (min-width: 821px) and (max-width: 1024px) {
      //ipad pro
      width: 70%;
      min-height: 500px;
      max-height: 50%;
    }
    @media (min-width: 1025px) and (max-width: 1399px) {
      max-height: 80%;
      min-height: 500px;
      max-height: 60%;
      width: 920px;
    }
    @media (min-width: 1400px) {
      max-height: 70%;
      width: 920px;
    }
    &_header {
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #eee;
      background-color: rgba(#007bff, 0.65);
      display: flex;
      align-items: center;
      position: relative;
      h2 {
        margin: auto;
        color: white;
      }
      a#getout {
        display: flex;
        height: 100%;
        border-radius: unset;
        min-width: 50px;
        font-size: 20px;
        font-weight: 600;
        border: unset;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &_sidebar {
      width: 30%;
      @media (max-width: 600px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
      &_header {
        text-align: center;
        padding: 15px;
        &_avatar {
          img {
            max-width: 130px;
            max-height: 130px;
            border-radius: 50%;
            @media (max-width: 600px) {
              max-width: 200px;
              max-height: 200px;
            }
          }
        }
        @media (max-width: 600px) {
          margin-top: 50px;
        }
      }
      &_info {
        margin-top: 10px;
      }
      &_menu {
        ul {
          border-width: 1px 0;
          border-style: solid;
          border-color: #eee;
          li {
            list-style-type: none;
            background-color: white;
            &:not(:last-of-type) {
              border-bottom: 1px solid #eee;
            }
            &:hover {
              background-color: #f9dd94;
            }
            a,
            button {
              font-family: "Montserrat";
              color: #333;
              padding: 15px;
              width: 100%;
              height: 100%;
              display: inline-block;
              border: unset;
              background-color: unset;
              text-align: left;
              font-weight: 400;
              font-size: 15px;
              cursor: pointer;
              i {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    &_main {
      width: 70%;
      padding: 15px;
      max-height: 100%;
      border-left: 1px solid #eee;
      height: 100%;
      @media (min-width: 600px) and (max-width: 768px) {
        height: 100%;
      }
      &_block {
        background-color: white;
        padding: 7px;
        border: 1px solid #eee;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        a {
          display: block;
          width: 100%;
        }
        .profile_main_info_error {
          color: red;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.profile_main_info {
  height: calc(100% - 30px);
  max-height: 100%;
  overflow: scroll;
  h1 {
    margin-bottom: 30px;
    font-size: 25px;
    @media (max-width: 600px) {
      display: none;
    }
  }
  h2:not(:last-of-type) {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  &_item {
    margin-bottom: 5px;
    .profile_main_info_item_input {
      input:focus,
      input {
        font-size: 13px !important;
      }
    }
    &.edit_profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .profile_main_info_item_title {
        width: 35%;
      }
      .profile_main_info_item_input {
        width: 65%;
        text-align: right;
      }
      .profile_main_info_error {
        width: 100%;
        margin-top: 5px;
        color: red;
        text-align: right;
        i {
          margin-right: 5px;
        }
      }
    }
    & > img {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      @media (min-width: 600px) {
        max-width: 400px;
      }
    }
    &_title {
      i {
        margin-right: 5px;
        font-size: 16px;
      }
    }
    &_input {
      margin-top: 5px;
    }
    &_error {
      font-size: 13px;
      color: red;
      margin-top: 5px;
      i {
        margin-right: 5px;
      }
    }
    button {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    &_result {
      span {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
  p.show_result.errors {
    color: red;
    i {
      margin-right: 5px;
    }
  }
  p.show_result.success {
    color: green;
    i {
      margin-right: 5px;
    }
  }
  &_search {
    display: flex;
    padding: 5px 0;
    input,
    input:focus {
      border: unset !important;
      box-shadow: none;
      font-size: unset !important;
    }
    button {
      border: unset;
      background-color: unset;
      font-size: 20px;
      margin-right: 10px;
      width: unset;
    }
  }
  ul {
    height: 100%;
    @media (max-width: 600px) {
      height: unset;
    }
    li {
      list-style-type: none;
      display: flex;
      background-color: white;
      border: 1px solid #eee;
      margin-bottom: 10px;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .user_info {
        display: flex;
        width: 100%;
        height: 100%;
        color: #333;
        position: relative;
        align-items: center;
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        color: #333;
        position: relative;
        align-items: center;
        &:first-of-type {
          width: calc(100% - 75px);
        }
        img,
        .user_type {
          width: 75px;
          height: 70px;
          margin-right: 10px;
          object-fit: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #333;
          font-size: 18px;
          font-weight: 700;
          background-color: rgb(95, 158, 160);
        }

        .course_info {
          max-width: calc(100% - 75px);
          overflow: hidden;
          p {
            font-size: 13px;
            margin-top: 5px;
            i {
              margin-right: 5px;
              font-size: 15px;
              color: #007bff;
            }
          }
          @media (max-width: 600px) {
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
      button {
        width: 75px;
        height: 70px;
        border: unset;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &.delete {
          background-color: red;
          color: white;
        }
        & {
          color: white;
          background-color: #007bff;
        }
      }
    }
    .editButton {
      display: block;
      width: 70px;
      height: 70px;
      border: unset;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: white;
      background-color: #007bff;
      i {
        line-height: 70px;
      }
    }
  }
}

ul.modal_ul {
  height: unset;
  margin: 10px 0;
  counter-reset: li;
  border-bottom: 1px solid #eee;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    list-style-type: none;
    border: none;
    height: unset;
    &:not(:last-of-type) {
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #eee;
      padding-bottom: 5px;
    }
    span {
      display: flex;
    }
    a {
      &:first-of-type:before {
        content: counter(li);
        counter-increment: li;
        margin-right: 7px;
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: #f9dd94;
        font-weight: 600;
      }
    }
    button {
      display: inline-block;
      height: 100%;
      width: 50px;
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      margin-left: 5px;
    }
  }
}
