.courses {
  .random_courses {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    .card_item {
      width: calc(100% / 3);
      padding: 15px;
      &_inner {
        border-radius: 10px;
        overflow: hidden;
        background-color: #f8f8f8;
        box-shadow: 0 14px 40px rgba(#333333, 0.2);
        i {
          margin-right: 5px;
          font-size: 20px;
        }
        .img {
          img {
            width: 100%;
            height: 160px;
            object-fit: cover;
          }
        }
        .body {
          padding: 0 10px;

          h3 {
            color: #252525;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 0;
          }
          p {
            color: #252525;
            padding: 10px 0;
            border-top: 1px solid;
            border-color: #ccc;
            min-height: 135px;
            i {
              color: orange;
              font-weight: 700;
            }
          }
        }
        .footer {
          margin: 10px 0;
          padding: 0 10px;
          color: #252525;
          i {
            color: green;
            font-weight: 700;
          }
          p {
            border-top: 1px solid;
            border-color: #ccc;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
