.courses {
  margin-top: 50px;
  position: relative;
  padding: 30px 0;
  h1 {
    position: relative;
    z-index: 1;
  }
  .random_courses {
    width: 80%;
    margin: 20px auto;
    display: table;
    position: relative;
    z-index: 1;
  }
}
