.courses {
  background-image: url("../../img/slide1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 30px 0;
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(white, 0.9);
    z-index: 0;
  }
  h1 {
    position: relative;
    z-index: 1;
  }
  .random_courses {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    .card_item {
      width: calc(100% / 3);
      padding: 15px;
      &_inner {
        border-radius: 10px;
        overflow: hidden;
        background-color: #f8f8f8;
        box-shadow: 0 14px 40px rgba(#333333, 0.2);
        i {
          margin-right: 5px;
          font-size: 20px;
        }
        .img {
          height: 160px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          background-color: white;
        }
        .body {
          padding: 0 10px;

          h3 {
            color: #252525;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 0;
          }
          p {
            color: #252525;
            padding: 10px 0;
            border-top: 1px solid;
            border-color: #ccc;
            min-height: 135px;
            i {
              color: orange;
              font-weight: 700;
            }
          }
        }
        .footer {
          margin: 10px 0;
          padding: 0 10px;
          color: #252525;
          i {
            color: green;
            font-weight: 700;
          }
          p {
            border-top: 1px solid;
            border-color: #ccc;
            padding: 10px 0;
          }
        }
      }
    }
  }
}
