.footer {
  margin: 20px 0;
  h1 {
    font-size: 30px;
  }
  &_inner {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 80px;
    &_left {
      width: calc(100% / 3);
      p {
        margin: 20px 0;
        font-size: 14px;
      }
    }
    &_center,
    &_right {
      width: calc(100% / 3);
      ul {
        margin: 20px 0;
        li {
          list-style-type: none;
          margin: 10px 0;
        }
      }
    }
    &_right {
      h1 {
        font-size: 20px;
      }
      p {
        margin: 20px 0;
      }
      form {
        display: flex;
        gap: 5px;
      }
      &_icon {
        margin: 20px 0;
        i {
          background-color: green;
          border-radius: 50%;
          text-align: center;
          height: 30px;
          width: 30px;
          line-height: 30px;
          color: white;
          margin-right: 5px;
        }
      }
    }
  }
}
