.footer {
  margin-top: 50px;
  margin-bottom: unset;
  background-color: rgba(#8bc639, 0.15);
  padding: 50px 0;
  border-top: 1px solid #8bc639;
  h1 {
    font-size: 30px;
  }
  &_inner {
    width: 80%;
    margin: auto;
    display: flex;

    flex-wrap: wrap;
    @media (max-width: 600px) {
      width: 98%;
    }
    @media (min-width: 600px) {
      gap: 40px;
      width: 98%;
      max-width: 1400px;
    }
    & > div {
      padding: 15px;
      @media (max-width: 600px) {
        width: 100%;
        padding: unset;
      }
      @media (min-width: 600px) {
        width: calc(50% - 30px);
        padding: unset;
      }
      @media (min-width: 998px) {
        width: calc(100% / 3 - 30px);
      }
    }
    &_left {
      p {
        margin: 20px 0;
        font-size: 14px;
      }
    }
    &_center,
    &_right {
      ul {
        margin: 20px 0;
        li {
          list-style-type: none;
          margin: 10px 0;
        }
      }
    }
    &_right {
      h1 {
        font-size: 20px;
      }
      p {
        margin: 20px 0;
      }
      form {
        display: flex;
        gap: 5px;
      }
      &_icon {
        margin: 20px 0;
        i {
          background-color: green;
          border-radius: 50%;
          text-align: center;
          height: 30px;
          width: 30px;
          line-height: 30px;
          color: white;
          margin-right: 5px;
        }
      }
    }
  }
}
