.header {
  .doatest {
    background-color: #28aae2;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 600px) {
      height: unset;
    }
    @media (min-width: 601px) and (max-width: 820px) {
      //ipad mini + ipad air
      height: unset;
    }
    button {
      margin-left: 20px;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: white;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      border: none;
      display: inline-block;
      color: #28aae2;
    }
  }
  nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 10px;
    .header_container {
      display: flex;
      align-items: center;
      width: 80%;
      margin: auto;
      @media (max-width: 600px) {
        width: 100%;
      }
      @media (min-width: 601px) and (max-width: 1180px) {
        //ipad mini + ipad air
        width: 100%;
        justify-content: space-between;
      }
      .logo {
        width: 30%;
        @media (max-width: 600px) {
          width: 70%;
        }
        @media (min-width: 601px) and (max-width: 1024px) {
          //ipad mini + ipad air
          width: 70%;
        }
        img {
          width: 100%;
          height: 100%;
          max-width: 250px;
          max-height: 65px;
        }
      }
      .menu {
        width: 60%;
        @media (max-width: 600px) {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: #8bc639;
          a {
            color: white;
          }
          z-index: 5;
          height: 60px;
          border-top: 1px solid #8bc639;
        }
        @media (min-width: 601px) and (max-width: 1024px) {
          //ipad mini + ipad air
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: #8bc639;
          a {
            color: white;
          }
          z-index: 5;
          height: 60px;
          border-top: 1px solid #8bc639;
        }
        ul {
          @media (max-width: 600px) {
            display: flex;
            align-items: center;
            height: 100%;
          }
          @media (min-width: 601px) and (max-width: 1024px) {
            //ipad mini + ipad air
            display: flex;
            align-items: center;
            height: 100%;
          }
          li {
            list-style-type: none;
            display: inline-block;
            &:not(:last-of-type) {
              margin-right: 12px;
            }
            line-height: 30px;
            a {
              color: #666666;
              font-size: 15px;
              font-weight: 600;
              i {
                margin-right: 2px;
                color: #28aae2;
                font-size: 15px;
              }
              &::after {
                margin-left: 12px;
                content: "|";
                @media (min-width: 601px) and (max-width: 1024px) {
                  content: unset;
                }
              }
              @media (max-width: 600px) {
                font-size: 0px;
                i {
                  font-size: 30px;
                  color: white !important;
                }
              }
              @media (min-width: 601px) and (max-width: 1024px) {
                //ipad mini + ipad air
                color: white !important;
                i {
                  font-size: 25px;
                  color: white !important;
                  margin-right: 5px;
                }
              }
            }
            &:last-of-type {
              a {
                &::after {
                  content: unset;
                }
              }
            }
            @media (max-width: 600px) {
              width: 20%;
              display: block;
              margin-right: unset !important;
              text-align: center;
            }
            @media (min-width: 601px) and (max-width: 1024px) {
              //ipad mini + ipad air
              width: 20%;
              display: block;
              margin-right: unset !important;
              text-align: center;
            }
          }
        }
      }
      .header_icon {
        width: 10%;
        @media (max-width: 600px) {
          width: 30%;
        }
        @media (min-width: 601px) and (max-width: 820px) {
          //ipad mini + ipad air
          width: 30%;
        }
        position: relative;
        text-align: right;
        .menu_dropdown {
          display: none;
          position: absolute;
          top: calc(100% + 10px);
          right: 0;
          z-index: 2;
          ul {
            li {
              list-style-type: none;
              background-color: #8bc639;
              width: 220px;
              &:not(:last-of-type) {
                border-bottom: 1px solid #eee;
              }
              &:hover {
                background-color: #28aae2;
              }
              a {
                text-align: left;
                display: block;
                color: white;
                width: 100%;
                height: 100%;
                padding: 15px;
                font-size: 16px;
                i {
                  margin-right: 5px;
                }
              }
            }
          }
          button.logout {
            width: 100%;
            height: 100%;
            border: unset;
            background-color: unset;
            color: white;
            font-family: "Montserrat", sans-serif;
            text-align: left;
            font-size: 16px;
            padding: 15px;
            cursor: pointer;
          }
        }
        .hide {
          display: none;
        }
        .show {
          display: block;
        }
        button:not(.logout) {
          padding: 5px 10px;
          background-color: #28aae2;
          color: white;
          font-size: 25px;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          i {
            &:first-of-type {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
