.header {
  .doatest {
    background-color: #28aae2;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 600px) {
      height: unset;
    }
    button {
      margin-left: 20px;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: white;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      border: none;
      display: inline-block;
      color: #28aae2;
    }
  }
  nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
    height: 90px;
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
      padding: 10px;
    }
    .header_container {
      display: flex;
      align-items: center;
      width: 80%;
      margin: auto;
      @media (max-width: 600px) {
        width: 100%;
      }
      .logo {
        width: 30%;
        @media (max-width: 600px) {
          width: 70%;
        }
        img {
          width: 100%;
          height: 100%;
          max-width: 250px;
          max-height: 65px;
        }
      }
      .menu {
        width: 55%;
        @media (max-width: 600px) {
          display: none;
        }
        ul {
          li {
            list-style-type: none;
            display: inline-block;
            padding: 0 12px;
            a {
              color: #666666;
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }
      .header_icon {
        width: 15%;
        @media (max-width: 600px) {
          width: 30%;
        }
        position: relative;
        text-align: right;
        .menu_dropdown {
          display: none;
          position: absolute;
          top: calc(100% + 10px);
          right: 0;
          z-index: 2;
          ul {
            li {
              list-style-type: none;
              background-color: #8bc639;
              width: 220px;
              &:not(:last-of-type) {
                border-bottom: 1px solid #eee;
              }
              &:hover {
                background-color: #28aae2;
              }
              a {
                text-align: left;
                display: block;
                color: white;
                width: 100%;
                height: 100%;
                padding: 15px;
                font-size: 16px;
                i {
                  margin-right: 5px;
                }
              }
            }
          }
          button.logout {
            width: 100%;
            height: 100%;
            border: unset;
            background-color: unset;
            color: white;
            font-family: "Montserrat", sans-serif;
            text-align: left;
            font-size: 16px;
            padding: 15px;
            cursor: pointer;
          }
        }
        .hide {
          display: none;
        }
        .show {
          display: block;
        }
        button:not(.logout) {
          padding: 5px 10px;
          background-color: #28aae2;
          color: white;
          font-size: 25px;
          font-weight: 600;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          i {
            &:first-of-type {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
